body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: regular;
    color: #000000;

    background-color: #ffffff;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
  }

.header {
    padding-top: 49px;
    width: 100%;

    background-color:#eeeeee;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-size: inherit;
    line-height: 30px;
    text-transform: uppercase;
    color:#000000;
    
}

.site-navigation,
.basket-navigation{
    list-style:none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.site-navigation,
.basket-navigation{
    display: flex;
    flex-wrap: wrap;
}

.site-navigation a,
.basket-navigation a {
    display:block;

    padding-left: 23px;
    padding-right: 23px;
    padding-top:12px;
    padding-bottom:12px;

    color:#000000;
}

.basket-navigation .basket-link{
    position: relative;
    padding-left: 50px;
}

.basket-link::before{
    content: "";
    position: absolute;
    top:18px;
    right:115px;
    width: 15px;
    height: 15px;

    background-image: url(../img/basket-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.site-navigation a:hover,
.basket-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:focus{
    color:#fb565a;
}

.site-navigation a:active,
.basket-navigation a:active{
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active{
    border-bottom: 2px solid #fb565a;

}

.slogans{
    padding-top:18px;

    background-color:#eeeeee;
}


.slogan-slider-1,
.slogan-slider-2,
.slogan-slider-3{
    display:flex;
    justify-content: space-between;
}

.slogan-statement{
    font-size:55px;
    font-weight:normal;
    line-height:55px;
    text-align:left;

    margin-bottom: 28px;
}

.slogan-explanation{
    margin-bottom:42px;
}

.slogan-explanation,
.advantage-explanation,
.service-explanation{
    text-align: left;
    color:#283136;
}

.slogans .button{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;

    padding-right: 55px;
    padding-left: 53px;
}

.slogans .button:hover,
.slogans .button:focus{
    background-color: #e74246;
}

.slogans .button:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.slogan-slider-1 .slogan-img{
    width:698px;
    height: 413px;
    background-image: url(../img/slide1-img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slogan-slider-2 .slogan-img{
    width:663px;
    height:430px;
    background-image: url(../img/slide2-img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slogan-slider-3 .slogan-img{
    width:759px;
    height: 411px;
    background-image: url(../img/slide3-img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.services{
    padding-top: 80px;
    padding-bottom: 80px;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.service-item{
    text-align: left;

    width: 300px;
}

.service-item h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 27px;
}

.service-item .service-explanation{
    margin-bottom:35px;
}

.service-item .service-img {
    width: 300px;
    height: 146px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.service-item:nth-child(1) .service-img{
    background-image: url(../img/advantage-picture-red.png);
    background-repeat: no-repeat;
    background-position: center;
}

.service-item:nth-child(2) .service-img{
    background-image: url(../img/advantage-picture-green.png);
    background-repeat: no-repeat;
    background-position: center;
}

.service-item:nth-child(3) .service-img{
    background-image: url(../img/advantage-picture-yellow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.button{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color:#fb565a;
    color:#ffffff;
    border:none;
    border-radius: 2px;
    padding-top: 19px;
    padding-bottom:19px;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.button-green{
    background-color:#00ca74;
}

.button-green:hover,
.button-green:focus{
    background-color: #00bc6c;
}

.button-green:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #00aa62;
}

.button-yellow{
    background-color:#efc84a;
}

.button-yellow:hover,
.button-yellow:focus{
    background-color: #eab534;
}

.button-yellow:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #e5a722;
}

.service-item .button{
    padding-left: 39px;
    padding-right: 39px;
}

.advantages .container{
    display:flex;
    justify-content: space-between;
}

.column-1{
    width:650px;
    padding-top: 80px;
    padding-bottom: 76px;
}

.column-2{
    width:360px;
    padding-top: 40px;
    padding-bottom: 76px;
}

.advantages-title{
    font-size:55px;
    font-weight: normal;
    line-height: 55px;
    text-align:left;
}

.advantage-orders{
    font-weight: bold;
    text-align:left;
}

.order-list ul {
    list-style: none;

    text-align: left;
    color:#283136;
}

.advantage-percents p{
    text-align: center;
}

.percents-list{
    display: flex;
    flex-wrap: wrap;

    padding-top: 49px;
}

.percents-list dd{
    font-size: 45px;
    font-weight: bold;
    line-height: 10px;
    text-align:left;
}

.percents-list dt{
    font-size: 16px;
    line-height: 18px;
    text-align:left;
    color:#283136;
}

.partners{
    margin-bottom: 80px;
}

.partners-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 180px;

    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.contacts span{
    font-size:18px;
    font-weight:bold;
    line-height: 30px;
    text-align:left;
}

.contact-address{
    font-size: 16px;
    line-height: 18px;
    text-align:left;
    color:#666666;
}

.contacts .button{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;
}

.contacts .button:hover,
.contacts .button:focus{
    background-color: #e74246;
}

.contacts .button:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.feedback{
    position:relative;

    box-sizing:border-box;
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 73px;
    padding-bottom: 84px;
    padding-left: 100px;
    padding-right: 100px;
}

.feedback span{
    display: block;

    font-size: 45px;
    line-height: 45px;
    text-align: left;

    margin-bottom: 49px;
}

.feedback form{
    width: 760px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-item{
    width:360px;
    margin:0;
}

.feedback-item label{
    display: block;
    margin-bottom: 12px;
}

.feedback-item input{
  box-sizing:border-box;
  width: 360px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.feedback-item:nth-child(3){
    width:760px;

    display: block;
    margin-top: 36px;
    margin-bottom: 47px;
}

.feedback-item:nth-child(3) textarea{
    box-sizing:border-box;
    width: 760px;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 16px;
  }

.feedback .button{
    padding-right: 83px;
    padding-left: 83px;
}

.feedback input,
.feedback textarea{
    outline: none;
}

.feedback label{
    font-size: 16px;
    font-weight:bold;
    line-height: 18px;
    text-align: left;
}

.feedback input,
.feedback textarea{
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color:rgba(68, 68, 68, 0.5);

    border:solid 2px #d7dcde;
}

.feedback input:hover,
.feedback textarea:hover{
    border:solid 2px #b4b9bb;
}

.feedback input:focus,
.feedback textarea:focus{
    color:#444444;

    border:solid 2px #000000;
}

.feedback input:invalid,
.feedback textarea:invalid{
    color:#e74246;

    border:solid 2px #e74246;
}

.feedback .close-button{
    position: absolute;
    top:78px;
    right:90px;
    text-indent:-10000px;
    width: 21px;
    height: 21px;
    border:none;

    background-image: url(../img/close-cross.svg);
    opacity: 0.3;
}

.feedback .close-button:hover{
    opacity: 1;
}

.feedback .close-button:active{
    opacity:0.1;
}

.footer-social{
    padding-top: 69px;
    padding-bottom: 69px;
}


.footer-social .container{
    display: flex;
}

.social-list{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 140px;
}

.social-button {
    display:flex;
    align-items: center;
    justify-content: center;
    width:79px;
    height:79px;
    background-color: #e1e1e1;
    border-radius: 50%;

    margin-left:6px;
    margin-right: 6px;
  }

.social-button:hover,
.social-button:focus {
   background-color: #e74246;
  }

.social-button:active{
    background-color: #d7373b;
}
.social-button:active path{
    fill:rgba(255, 255, 255, 0.3);
}

.footer-social .friendship{
    font-size:36px;
    line-height: 36px;
    font-weight: bold;
    text-align: left;

    margin-top: 0;
    margin-bottom: 12px;
}

.footer-social .friendship-discount{
   margin-bottom: 0;

   font-size: 16px;
   line-height: 22px;
   text-align: left;
   color:#444444;
}

.page-title{
    font-size: 55px;
    font-weight: normal;
    line-height: 55px;
    text-align:center;

    margin:0;
    padding:0;
    padding-top: 100px;
    padding-bottom: 116px;;

    background-color: #eeeeee;
}

.pattern-filter fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}

.catalog-page .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pattern-filter{
    width: 260px;
}

.catalog{
    width: 760px;
    margin-left: 140px;
}

.sorting-wrapper{
    display: flex;
    flex-wrap: wrap;   
}


h3.sorting{
    font-size:18px;
    font-weight:bold;
    line-height: 18px;
    text-align:left;
    text-transform:uppercase;

    margin-right: 267px;
}

.sorting-list,
.sorting-button{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sorting-item{
    padding-right: 13px;
    padding-left: 13px;
}

.sorting-item a{
    font-size:14px;
    line-height: 18px;
    text-align:left;
    text-transform:uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:active,
.sorting-item.active a{
    color:#000000;
}

.sorting-item a:hover,
.sorting-item a:focus{
    color:rgba(0, 0, 0, 0.6);
}

.filter-grid,
.filter-feature,
.sorting-list,
.sorting-button{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
     margin-bottom: 0;
}


.filters-name{
    font-size:18px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
}

.filter-item{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color:#283136;
}

.filter-button{
    color:#000000;

    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus{
    background-color: #dfdfdf;
}

.filter-button:active{
    color:rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.catalog-item{
    margin-bottom: 33px;
    margin-right: 40px;
}

.catalog-item:nth-child(2n){
    margin-right: 0;
}

.catalog-item-card{
    width: 360px;
    background-color:#eeeeee;
}

.catalog-item a{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color:#000000;
}

.catalog-item p{
    font-size:16px;
    line-height: 18px;
    text-align: center;
    color:#666666;
}



.pages-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.page-item{
    padding-right:5px;
    padding-left: 5px;
}

.page-item:first-child{
    padding-left:0;
}

.page-item a{
    font-size: 13.5px;
    font-weight: normal;
    line-height: 15.5px;
    text-align:center;
    color:#000000;

    background-color: #eeeeee;
}

.page-item a:focus,
.page-item a:hover{
    background-color: #dfdfdf;
}

.page-item a:active{
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
}

.page-item.active a{
    color:#000000;

    background-color: #ffffff;
    border: solid 3px #dbdbdb;
}