body{
    min-width: 1160px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a{
    text-decoration: none;
  }

img{
    max-width: 100%;
    height: auto;
}

.header{
    padding-top: 49px;
    width: 100%;

    background-color:#eeeeee;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-size: inherit;
    line-height: 30px;
    text-transform: uppercase;
    color:#000000;
}

.logo-main-navigation:hover:not(.active) img,
.logo-main-navigation:focus img{
    opacity:0.8;
}

.logo-main-navigation:active img{
    opacity:0.3;
}

.site-navigation,
.basket-navigation{
    display: flex;
    flex-wrap: wrap;

    list-style:none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}


.site-navigation a,
.basket-navigation a{
    display:block;

    font-weight:500;

    margin-right: 46px;
    margin-bottom: 20px;

    color:#000000;
}

.basket-navigation{
    max-width: 150px;
}

.basket-navigation .basket-link{
    position: relative;
    margin:0;
    margin-bottom: 20px;
    padding-left: 40px;
}

.basket-link::before{
    content: '';
    position: absolute;
    top:7px;
    left:0;
    width: 15px;
    height: 15px;

    background-image: url(../img/basket-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.site-navigation a:hover:not(.active),
.basket-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:focus{
    color:#fb565a;
}

.site-navigation a:active,
.basket-navigation a:active{
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active{
    border-bottom: 2px solid #fb565a;
}

.slogans{
    background-color:#eeeeee;
}

.slogans .container{
    position: relative;
}

.slider-controls{
    position: absolute;
    left:50%;
    bottom:106px;
    width:200px;
    height:10px;

    margin-left:-100px;

    text-align:center;
}

.slider-controls label{
    display:inline-block;
    position: relative;
    
    width:18px;
    height:18px;
    margin-right: 6px;
    margin-left: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 5px solid #fff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}

.slider-controls label:after{
content: '';
position: absolute;
width: 4px;
height: 4px;
background: #ffffff;
border-radius: 50%;
top: 2px;
right: 2px;
}

#btn-1:checked ~ .slider-controls label[for='btn-1'],
#btn-2:checked ~ .slider-controls label[for='btn-2'],
#btn-3:checked ~ .slider-controls label[for='btn-3']{
    background: #c1c1c1;
}

.slogan-slider-1{
    background-image: url(../img/slide1-img.png);
    background-repeat: no-repeat;
    background-position-x:431px;
    background-position-y: 8px;
}

.slogan-slider-2{
    background-image: url(../img/slide2-img.png);
    background-repeat: no-repeat;
    background-position-x:right;
}

.slogan-slider-3{
background-image: url(../img/slide3-img.png);
background-repeat: no-repeat;
background-position-x:right;
background-position-y: 10px;
}

.slogan-slider-1,
.slogan-slider-2,
.slogan-slider-3{
    display:none;
}

#btn-1:checked ~ .slogan-slider-1{
    display:block;
}

#btn-2:checked ~ .slogan-slider-2{
    display:block;
}

#btn-3:checked ~ .slogan-slider-3{ 
    display:block;
}

.slogan-wrapper{
    padding-top:80px;
    padding-bottom:80px;

    width:515px;
}
.slogan-statement{
    display: block;
    font-size:55px;
    font-weight:500;
    line-height:55px;
    letter-spacing: normal;
    text-align:left;

    margin-top: -10px;
    margin-bottom: 25px;
}

.slogan-explanation{
    margin-bottom: 38px;
}

.slogan-explanation,
.advantage-explanation,
.service-explanation{
    text-align: left;
    color:#283136;
}

.slogans .button{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;

    padding-right: 56px;
    padding-left: 53px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.slogans .button:hover,
.slogans .button:focus{
    background-color: #e74246;
}

.slogans .button:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.services{
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 80px;
}

.service-item{
    text-align: left;

    width: 300px;
    margin-right: 60px;
}

.service-item h3{
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: normal;
    text-transform: uppercase;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 18px;
}

.service-item .service-explanation{
    margin: 0;
    margin-bottom: 30px;
}

.service-item .service-img{
    width: 300px;
    height: 146px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.service-item:nth-child(1) .service-img{
    background-image: url(../img/advantage-picture-red.png);
    background-repeat: no-repeat;
    background-position: center;
}

.service-item:nth-child(2) .service-img{
    background-image: url(../img/advantage-picture-green.png);
    background-repeat: no-repeat;
    background-position: center;
}

.service-item:nth-child(3) .service-img{
    background-image: url(../img/advantage-picture-yellow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.button{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color:#fb565a;
    color:#ffffff;
    border:none;
    border-radius: 5px;
    padding-top: 19px;
    padding-bottom:19px;
}

.button:hover,
.button:focus{
    background-color: #e74246;
}

.button:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-green{
    background-color:#00ca74;
}

.button-green:hover,
.button-green:focus{
    background-color: #00bc6c;
}

.button-green:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #00aa62;
}

.button-yellow{
    background-color:#efc84a;
}

.button-yellow:hover,
.button-yellow:focus{
    background-color: #eab534;
}

.button-yellow:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #e5a722;
}

.service-item .button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.border-section{
    border:1px solid #eeeeee;
    margin-top: 0;
    margin-bottom: 0;
}

.advantages{
    position: relative;
    margin-top:40px;
    margin-bottom: 74px;
}

.advantages .container{
    display:flex;
    justify-content: space-between;
}

.column-1{
    width:650px;
}

.column-2{
    position: relative;
    width:360px;
}

.advantages-title{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: normal;
    text-align: left;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 30px;
}

.advantage-explanation{
    display:block;   
    margin-bottom: 42px; 
}

.advantage-orders{
    font-weight: 700;
    text-align:left;
    text-transform: uppercase;
}

.order-list{
    list-style: none;

    margin:0;

    text-align: left;
    color:#283136;
}

.order-list li{
    position: relative;

    margin-top: 23px;
    margin-left: -3px; 
}

.order-list li::before{
    content: '';
    position: absolute;
    left:-36px;
    top:10px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.advantage-percents p{
    text-transform: uppercase;

    text-align: center;
    font-weight: 700;
    margin-top:30px;
}

.percents-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.percents-list-item{
    display: block;
    width: 100px;

    font-size: 16px;
    line-height: 18px;
    text-align:left;
    color:#283136;

    margin-top: 40px;
    margin-right: 20px;
}

.percents-list-item span{
    display: inline-block;
    margin-top: 10px;

    vertical-align:bottom;
}

.percents-list-item b{
    display: block;

    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
    text-align:left;
    color: #000000;

    margin-bottom: 27px;
}

.percents-list-item sup{
    font-size:27px;
}

.partners{
    position: relative;

    margin-bottom: 80px;
}

.partners-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    list-style: none;
    padding-left: 0;
    padding-top:48px;
    padding-bottom:35px;
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 0;
}

.partner-item{
    display:flex;
    align-items:center;
    position:relative;
    margin-right: 70px;
}

.partner-item img{
    opacity:0.2;
}

.partner-link:hover img,
.partner-link:focus img{
    opacity:1;
}

.partner-link:active img{
    opacity:0.1;
}

.partner-item:not(:last-child)::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -50px;
    margin-top: -35px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}

.contacts{
    display:flex;

    position: relative;
    height: 416px;
    overflow: hidden;
}

.contacts iframe{
    width:100%;
    position: relative;
    z-index: 2;

    border: none;
}

img.map{
    width:100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.contacts-information{
    position: absolute;
    top:50%;
    left:calc((100% - 1160px)/2);
    box-sizing: border-box;
    background-color:#ffffff;
    padding-top:48px;
    padding-bottom: 47px;
    padding-left:50px;
    padding-right: 50px;
    transform:translateY(-50%);

    z-index:3;
}

.contacts-information span{
    display: block;

    font-size:18px;
    font-weight:700;
    line-height: 30px;
    text-align:left;
}

.contact-address{
    letter-spacing: normal;
    font-size: 16px;
    line-height: 18px;
    text-align:left;
    color:#666666;
    margin:0;
    margin-top:24px;
}

.contact-tel{
    margin-top:14px;
    margin-bottom:13px;
}

.contact-tel a{
    color:#666666;
}

.contacts-information .button{
    width: 219px;

    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;

    margin-top: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.contacts .button:hover,
.contacts .button:focus{
    background-color: #e74246;
}

.contacts .button:active{
    color:rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

@keyframes appearance{
    0% { 
        transform: translateX(-2000px);
       }
    100% {
        transform: translateX(30px);
    }
}

@keyframes shake{
    0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.feedback-modal{
    display:none;

    position:fixed;
    bottom:180px;
    left:50%;

    box-sizing:border-box;
    width:960px;
    margin-left: -480px;
    padding-top: 73px;
    padding-bottom: 84px;
    padding-left: 100px;
    padding-right: 100px;

    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    background-color: #ffffff;

    z-index:4;
}

.modal-show{
    display: block;
  
    animation: appearance 0.5s;
}

.modal-error{
    animation: shake 0.5s;
}

.feedback-modal span{
    display: block;

    font-size: 45px;
    line-height: 45px;
    text-align: left;

    margin-bottom: 49px;
}

.feedback-modal form{
    width: 760px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-item{
    width:360px;
    margin:0;
}

.feedback-item label{
    display: block;
    margin-bottom: 12px;
}

.feedback-item input{
  box-sizing:border-box;
  width: 360px;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.feedback-item:nth-child(3){
    width:760px;

    display: block;
    margin-top: 36px;
    margin-bottom: 47px;
}

.feedback-item:nth-child(3) textarea{
    box-sizing:border-box;
    max-width: 760px;
    max-height: 118px;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 16px;
    padding-bottom: 4px;
  }

.feedback-modal .button{
    padding-right: 83px;
    padding-left: 83px;
}

.feedback-modal input,
.feedback-modal textarea{
    outline: none;
}

.feedback-modal label{
    font-size: 16px;
    font-weight:700;
    line-height: 18px;
    text-align: left;
}

.feedback-modal input,
.feedback-modal textarea{
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color:rgba(68, 68, 68, 0.5);

    border:solid 2px #d7dcde;
}

.feedback-modal input:hover,
.feedback-modal textarea:hover{
    border:solid 2px #b4b9bb;
}

.feedback-modal input:focus,
.feedback-modal textarea:focus{
    color:#444444;

    border:solid 2px #000000;
}

.feedback-modal input:invalid,
.feedback-modal textarea:invalid{
    color:#e74246;

    border:solid 2px #e74246;
}

.feedback-modal .close-button{
    position: absolute;
    top:78px;
    right:90px;
    text-indent:-10000px;
    width: 21px;
    height: 21px;
    border:none;

    background-image: url(../img/close-cross.svg);
    background-color: #ffffff;
    opacity: 0.3;

    cursor: pointer;
}

.feedback-modal .close-button:hover{
    opacity: 1;
}

.feedback-modal .close-button:active{
    opacity: 0.1;
}

.footer-social{
    padding-top: 75px;
    padding-bottom: 69px;
}

.footer-social .container{
    display: flex;
}

.social-list{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding-left: 0;
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 140px;
}

.social-button{
    display:flex;
    align-items: center;
    justify-content: center;
    width:79px;
    height:79px;
    background-color: #e1e1e1;
    border-radius: 50%;

    margin-right: 12px;
  }

.social-button:hover,
.social-button:focus{
   background-color: #e74246;
  }

.social-button:active{
    background-color: #d7373b;
}
.social-button:active path{
    fill:rgba(255, 255, 255, 0.3);
}

.friendship-wrapper{
    width:545px;

    margin-left: -14px;
}

.friendship-wrapper .friendship{
    font-size:36px;
    line-height: 36px;
    font-weight: 700;
    text-align: left;

    margin:0;
}

.friendship-wrapper .friendship-discount{
   font-size: 16px;
   line-height: 22px;
   text-align: left;
   color:#444444;

   margin-top: 10px;
}

.page-title{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align:center;

    margin:0;
    padding:0;
    padding-top: 70px;
    padding-bottom: 108px;

    background-color: #eeeeee;
}


.pattern-filter fieldset{
    margin: 0;
    margin-bottom:60px;
    padding: 0;

    border: none;
}

.pattern-filter fieldset:nth-child(2){
    margin-bottom:29px;
}

.pattern-filter fieldset:last-of-type{
    margin-bottom:29px;
}

.catalog-page .container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 52px;
    margin-bottom: 60px;
}

.pattern-filter{
    width: 260px;
}

.catalog{
    width: 760px;
    margin-left: 140px;
}

.sorting-wrapper{
    width:760px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-bottom: 50px;
}

h3.sorting{
    font-size:18px;
    font-weight:700;
    line-height: 18px;
    text-align:left;
    text-transform:uppercase;

    margin:0;
    margin-right: 250px;
    width:135px;
}

.range-filter{
    width: 260px;
    margin-top: 53px;
  }

  .range-controls{
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top:39px ;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    
    border-radius: 5px;
}

.range-controls .bar{
    width: 70%;
    height: 2px;
  
    background: #00ca74;
  }

.range-controls .toggle{
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow:0 2px 1px 0 #cfcfcf;

    cursor: pointer;
  }

.range-controls .toggle-min{
    left: 18px;
}
  
.range-controls .toggle-max{
    left: 160px;
}

.range-controls .scale{
    height: 2px;
  
    background: #d7dcde;
}

.price-controls{
    font-size: 0;
}
  
.price-controls label{
    display: inline;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls label:last-of-type{
    margin-left:34px;
}
  
.price-controls input{
    width: 60px;
    padding-top: 8px;
    padding-bottom:8px;
    padding-right:10px;
    padding-left: 10px;
    margin-left: 11px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.sorting-list{
    width:300px;
}

.sorting-button{
    width:60px;
}

.sorting-list,
.sorting-button{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sorting-item{
    padding-right: 13px;
    padding-left: 13px;
}

.sorting-item a{
    font-size:14px;
    line-height: 18px;
    text-align:left;
    text-transform:uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:active,
.sorting-item a.active{
    color:#000000;
}

.sorting-item a:hover:not(.active),
.sorting-item a:focus:not(.active){
    color:rgba(0, 0, 0, 0.6);
}

.filter-grid,
.filter-feature,
.sorting-list,
.sorting-button{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.sorting-button{
    margin-left: 15px;
}

.sorting-button li{
    padding-left: 18px;
}

.sorting-button a{
    display: flex;
}

.sorting-descending a{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: rgba(166, 166, 166, 0.2) transparent transparent transparent;
}

.sorting-ascending a{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 10px 5.5px;
    border-color: transparent transparent rgba(166, 166, 166, 0.2) transparent;
}

.sorting-descending a:hover,
.sorting-descending a:focus{
    border-color: rgba(166, 166, 166, 1) transparent transparent transparent;
}

.sorting-descending a:active,
.sorting-descending.active a{
    border-color: #000000 transparent transparent transparent;
}

.sorting-ascending a:hover,
.sorting-ascending a:focus{
    border-color: transparent transparent rgba(166, 166, 166, 1) transparent;
}

.sorting-ascending a:active,
.sorting-ascending.active a{
    border-color: transparent transparent #000000 transparent;
}

.filters-name{
    font-size:18px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}

.filters:nth-child(2) .filters-name,
.filters:nth-child(3) .filters-name{
    margin-bottom:14px;
}

.filter-item{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color:#283136;
    margin-bottom:20px;
    padding-left: 35px;
}

.filter-item label{
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;

    width:260px;
    margin-top: 3px;
}

.filter-grid label::before{
    content: '';
    position: absolute;
    top:0;
    left:-35px;

    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-input-radio:hover ~ label::before,
.filter-input-radio:focus ~ label::before,
.filter-input-checkbox:hover ~ label:before,
.filter-input-checkbox:focus ~ label:before{
    opacity:0.7;
}

.filter-input-radio:disabled ~ label::before,
.filter-input-checkbox:disabled ~ label::before{
    opacity:0.1;
}

.filter-input-radio:checked + label::before{
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-input-radio:checked:hover ~ label::before,
.filter-input-radio:checked:focus ~ label::before{
    opacity:0.7;
}

.filter-input-radio:checked:disabled ~ label::before{
    opacity:0.1;
}

.filter-feature label::before{
    content: '';
    position: absolute;
    top:0;
    left:-35px;

    width: 27px;
    height:23px;

    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::before{
    content: '';
    position: absolute;
    top:0px;
    left:-35px;

    width:27px;
    height:23px;

    background-image: url(../img/checkbox-on.svg);
    opacity: 0.4;
}

.filter-input-checkbox:checked:hover ~ label::before,
.filter-input-checkbox:checked:focus ~ label::before{
    opacity:0.7;
}

.filter-input-checkbox:checked:disabled ~ label::before{
    opacity:0.1;
}

.filter-button{
    color:#000000;

    background-color: #eeeeee;

    padding-top:18px;
    padding-right: 88px;
    padding-bottom: 18px;
    padding-left: 88px;
}

.filter-button:hover,
.filter-button:focus{
    background-color: #dfdfdf;
}

.filter-button:active{
    color:rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}

.catalog-item{
    position: relative;

    margin-bottom: 33px;
    margin-right: 40px;
}

.catalog-item:nth-child(2n){
    margin-right: 0;
}

.catalog-item article{
    display: flex;
    margin-top:40px;
}

.catalog-item article::before{
    position: absolute;
    top:1px;
    right:0;
    content:'';
    width:360px;
    height: 40px;
    background-image:url(../img/browser.svg);
    opacity:0.12;
}

.catalog-item:hover article::before{
    opacity:1;
}

.catalog-item-card{
    opacity:0;

    position: absolute;
    padding-bottom:43px;
    bottom:0;
    
    width: 360px;
    background-color:#eeeeee;
}

.catalog-item:hover .catalog-item-card,
.catalog-item:focus-within .catalog-item-card{
    opacity:1;    
}

.catalog-item-card .catalog-item-name{
    display: block;

    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color:#000000;
    
    padding-top: 27px;
}

.catalog-item .catalog-item-name:hover,
.catalog-item .catalog-item-name:focus{
    color:#fb565a;
}

.catalog-item .catalog-item-name:active{
    color:rgba(0, 0, 0, 0.3);
}

.catalog-item p{
    display: block;

    font-size:16px;
    line-height: 18px;
    text-align: center;
    color:#666666;

    margin-top:16px;
    margin-bottom:29px;
}

.catalog-item-card a.button{
    width:200px;

    margin-left: 80px;
    margin-right: 80px;
    margin-top:0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 15px;
    
    text-align: center;
}

.pages{
    margin-top: 28px;
}

.pages-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.page-item{
    margin-right:10px;
}

.page-item:last-child{
    margin-right:0;
}

.page-item a{
    display: block;

    width: 50px;
    height:50px;
    box-sizing: border-box;

    padding-top:19px;
    padding-bottom: 19px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align:center;
    color:#000000;

    border-radius: 2px;

    background-color: #eeeeee;
}

.page-item:last-child a{
    display: block;
    width:260px;
}

.page-item a:focus,
.page-item a:hover{
    background-color: #dfdfdf;
}

.page-item a:active{
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
}

.page-item.active a{
    color:#000000;

    background-color: #ffffff;

    border: solid 3px #dbdbdb;
    padding-left:18px;
    padding-top:16px;
    padding-bottom: 16px;
    padding-right: 18px;
}